{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/includes/challenge.css" %}">
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title %}
    {{ month_name|capfirst }} challenge
{% endblock %}

{% block content %}
    {% include "challenges/includes/header.html" %}
    {% if text != None %}
        <h1>This {{ month_name|capfirst }} Challenge</h1>
        <h2>{{ text }}</h2>
    {% else %}
        <p class="fallback">There is not a challenge for {{ month_name|capfirst }}</p>
    {% endif %}
{% endblock %}
